<html ng-app="myFirstApp" >
    <head>
        <link rel="shortcut icon" href="#">
        <meta charset='utf-8'>
        <script type="text/javascript" src="angular.js"></script>
        <script src="app.js"></script>
    </head>
    <body ng-controller="myFirstController">
        <input type="text" ng-model="nuevoComentario.comentario">
        <br>
        <input type="text ng-model" ng-model="nuevoComentario.username">
        <br>
        <button ng-click="agregarComentario()">Agregar comentario</button>
        <h3>Comentarios</h3>
        <ul>
            <li ng-repeat="comentario in comentarios">
                {{comentario.comentario}} <strong>{{comentario.username}}</strong>
            </li>
        </ul>
    </body>
</html>